<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('base') -%>
    <p>Welcome to About Us</p>
    <p>You will know everything about us.</p>
</body>
</html>