<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <%- include('base') -%>
    <p>Welcome to About Us</p>
    <p>You will know everything about us.</p>
    <%- include('footer') -%>
</body>
</html>