<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/base.css' />
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="About">About Us</a>
        <a href="Team">Our Team</a>
        <a href="Contact">Contact</a>
    </div>
</body>
</html>