<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/About">About</a>
        <a href="/Team">Our Team</a>
        <a href="/Events">Events</a>
        <a href="/News">Latest News</a>
        <a href="/Contact">Contact Us</a>
        <a href="/Login" style="float: right;">Office of the Internal Vice President</a>
    </div>
</body>
</html>

