<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('base') -%>
    <p>Welcome to Contact</p>
    <p>Soon, you will be able to contact us.</p>
</body>
</html>