<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
    <body>
        <%- include('base') -%>
        <p>Welcome to Events</p>
        <p>You will know everything about us.</p>
        <%- include('footer') -%>
    </body>
</html>