<!DOCTYPE html>
<html>
<head>
    <title>Team</title>
</head>
<body>
    <%- include('base') -%>
    <p>Welcome to Our Team</p>
    <p>Soon, you will be able to know us!!</p>
    <%- include('footer') -%>
</body>
</html>